<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleName</key>
		<string>选择器</string>
		<key>className</key>
		<string>ZJDatePickerController</string>
	</dict>
	<dict>
		<key>titleName</key>
		<string>GCD 使用及测试</string>
		<key>className</key>
		<string>ZJGCDTestViewController</string>
	</dict>
	<dict>
		<key>titleName</key>
		<string>横向列表滑动</string>
		<key>className</key>
		<string>ZJHorListViewController</string>
	</dict>
	<dict>
		<key>titleName</key>
		<string>动画</string>
		<key>className</key>
		<string>ZJAnimationViewController</string>
	</dict>
	<dict>
		<key>titleName</key>
		<string>刻度尺</string>
		<key>className</key>
		<string>ZJRulerViewController</string>
	</dict>
	<dict>
		<key>titleName</key>
		<string>遮罩视图</string>
		<key>className</key>
		<string>ZJMaskViewController</string>
	</dict>
	<dict>
		<key>titleName</key>
		<string>控制器转场动画</string>
		<key>className</key>
		<string>ZJMainViewController</string>
	</dict>
</array>
</plist>
